{% extends "base_alt.html" %}
{% load crispy_forms_field %}
{% load account %}

{% block title %}Reinicio de Contraseña{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                <div class="card mx-4">
                    <div class="card-body p-4">
                        <h1>Reiniciar Contraseña</h1>
                        {% if user.is_authenticated %}
                            {% include "account/snippets/already_logged_in.html" %}
                        {% endif %}
                        <p class="text-muted">
                            <strong>¿Olvidaste tu contraseña?</strong>
                            Ingresa tu dirección de correo electrónico a continuacion, y te enviaramos un correo electronico para que puedas reiniciarla
                        </p>

                        {% csrf_token %}
                        <div class="input-group mb-3">
                            <span class="input-group-addon"><i class="icon-envelope"></i></span>
                            {% crispy_field form.email %}
                        </div>
                    </div>
                    <div class="card-footer p-4">
                        <form method="post" action="{% url 'account_logout' %}">
                            {% csrf_token %}
                            {% if redirect_field_value %}
                                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                            {% endif %}

                            <div class="row">
                                <div class="col-6">
                                    <button class="btn btn-block btn-warning" type="submit">
                                        <span>Reiniciar mi Contraseña</span>
                                    </button>
                                </div>
                                <div class="col-6">
                                    <a class="btn btn-block btn-secondary" href="{% url 'account_login' %}">
                                        <span>Cancelar</span>
                                    </a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <p class="mx-4 text-muted text-center">Por favor contactanos si tienes algun problema reiniciando tu contraseña.</p>
            </form>
        </div>
    </div>

{% endblock %}