{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content_header %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'home' %}">Inicio</a></li>
        <li class="breadcrumb-item"><a href="{% url 'componente_list' %}">Componentes</a></li>
        <li class="breadcrumb-item active">Editar</li>
    </ol>
{% endblock %}

{% block content %}
    {% if request.user != object.responsable %}
        <div class="alert alert-warning" role="alert">
            <h4 class="alert-heading">¡Importante!</h4>
            <p>
                Al modificar el contenido de este registro asume la responsibilidad por el contenido del mismo y
                debera ingresar su contraseña para firmarlo.
            </p>
        </div>
    {% endif %}
    <div id="ui-view">
        <div class="animated fadeIn">
            <div class="row">
                <div class="col">
                    <form method="post" action="">
                        <div class="card card-accent-warning">
                            <div class="card-header">
                                <i class="fa fa-edit"></i>Editar Componente
                            </div>
                            <div class="card-body">
                                {% csrf_token %}
                                {% crispy form %}
                                <hr />
                                <b>Firma Electrónica:</b>
                                <blockquote class="blockquote firma">
                                    <p class="mb-0">{{ object.firma }}</p>
                                    <footer class="blockquote-footer">
                                        Firmado por <b>{{ object.responsable.first_name }} {{ object.responsable.last_name }}</b> el {{ object.fecha_firma }}
                                    </footer>
                                </blockquote>
                            </div>
                            <div class="card-footer">
                                <div class="text-right">
                                    <button type="submit" class="btn btn-warning">
                                        <i class="fa fa-edit"></i> Editar
                                    </button>
                                    <a class="btn btn-secondary" href="{% url 'componente_list' %}">
                                        <i class="fa fa-times"></i> Cancelar
                                    </a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}