container_commands:
  01_node_install:
    command: 'curl --silent --location https://rpm.nodesource.com/setup_6.x | sudo bash -'
  02_node_install:
    cwd: /tmp
    test: '[ ! -f /usr/bin/node ] && echo "node not installed"'
    command: 'yum install -y nodejs --enablerepo=epel'
  03_npm_install:
    cwd: /tmp
    test: '[ ! -f /usr/bin/npm ] && echo "npm not installed"'
    command: 'curl -L http://npmjs.org/install.sh | sh'
  04_node_update:
    cwd: /tmp
    test: '[ ! -f /usr/bin/n ] && echo "node not updated"'
    command: 'npm install -g n && n stable'
  05_install_global:
    command: "npm install -g yarn"
    leader_only: true
  06_install_packages:
    command: "yarn install"