{% extends "avatar/base.html" %}
{% load i18n avatar_tags %}
{% load crispy_forms_tags %}
{% load static from staticfiles %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/perfil.css' %}">
{% endblock styles %}

{% block content %}
    <div class="row">
        <div class="col-sm-9 well">
            <h1>Quitar avatar</h1>
            <hr>

            <p>{% trans "Please select the avatars that you would like to delete." %}</p>
            {% if not avatars %}
                {% url 'avatar_change' as avatar_change_url %}
                <p>{% blocktrans %}You have no avatars to delete. Please <a href="{{ avatar_change_url }}">upload one</a> now.{% endblocktrans %}</p>
            {% else %}
                <form method="POST" action="{% url 'avatar_delete' %}">
                    <ul class="list-unstyled">
                        {{ delete_avatar_form.as_ul }}
                    </ul>
                    <hr />
                    <p>
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger"><i class="fa fa-trash-o"></i> {% trans "Delete These" %}</button>
                        <a class="btn btn-default" href="{% url 'perfil_home' %}"><i class="fa fa-arrow-left"></i> Volver</a>
                    </p>
                </form>
            {% endif %}

        </div>
        <div class="col-sm-3">
            <div class="well">
                <div class="row">
                    <br />
                    <div class="avatar col-sm-offset-1 col-sm-10">
                        {% avatar user 300 %}
                    </div>

                    <div class="col-sm-offset-1 col-sm-10">
                        <p class="text-center">
                            <strong>{{user.first_name}} {{user.last_name}}</strong> <br>
                            {{user.username}} <br> <br>
                            {{ user.perfil.get_tipo_display }}
                        </p>
                        <a href="{% url 'perfil_editar' %}" class="btn btn-warning full-width">
                            <i class="fa fa-user"></i>
                            {% trans "Edit my user" %}
                        </a>
                        <br />
                        <br />
                        {% if request.user.perfil %}

                            <a href="{% url 'perfil_avanzado' %}" class="btn btn-primary full-width">
                                <i class="fa fa-pencil"></i>
                                {% trans "Edit my profile" %}
                            </a>
                            <br />
                            <br />
                        {% endif %}
                        <a href="{% url 'account_logout' %}" class="btn btn-danger full-width">
                            {% trans "Sign Out" %}
                        </a>
                    </div>
                    <br />
                </div>
            </div>
        </div>
    </div>
{% endblock %}
